.button {
  appearance: none;
  background-color: #fffe;
  border-radius: 5px;
  border: 1px solid #00fe;
  color: #00f;
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.25em 0.75em 0.4em;
  letter-spacing: 0.05em;
}

.button.selected {
  background-color: #00f9;
  border-color: transparent;
  color: #fffe;
  cursor: default;
}

.button + .button {
  margin-left: 1em;
}
